# Ignore everything
*
# Include necessary dot-files
!.eslintignore
!.eslintrc
!.gitignore
!.npmrc
# Include necessary files
!LICENSE
!package.json
!package-lock.json
!README.md
# Include necessary directories
!bin
!bin/run-report
!data
!data/README.md
!lib
!lib/*.js
!lib/env
!lib/env/*.js
!lib/fetch
!lib/fetch/*.js
!lib/futil
!lib/futil/*.js
!lib/helpers
!lib/helpers/*.js
!lib/munge
!lib/munge/*.js
